footer
	div.footer-custom-images
		a(target="_blank" title="Barcelona Supercomputing Center" href="https://www.bsc.es" loading="lazy")
			img#bsclogo(alt="BSC logo" src="./images/BSC-blue-small.png")
		a(target="_blank" title="Plan de Impulso de las Tecnologías del Lenguaje" href="https://plantl.mineco.gob.es/Paginas/index.aspx" loading="lazy")
			img(alt="Plan TL logo" src="./images/plantl.png")
		a(target="_blank" title="Ministerio de Asuntos Económicos y Transformación Digital" href="https://portal.mineco.gob.es/en-us/Pages/index.aspx" loading="lazy")
			img(alt="Mineco logo" src="./images/gob-es.png")
		a(target="_blank" title="Digitalisation and Artificial Intelligence - Telecommunications and Digital Infrastructure" href="https://avancedigital.mineco.gob.es/en-us/Paginas/index.aspx" loading="lazy")
			img(alt="SEAD logo" src="./images/secretaria-es.png")
