extends layout

block title
	title The Spanish Evaluation Benchmark

block description
	meta(name='description', content='Submitting-related information')

block extralinks
	link(rel='stylesheet', href='./stylesheets/index.css')
	// link(rel='stylesheet', href='./stylesheets/input.css')

block extrascripts
	include form_scripts.html

block content
	.cover#contentCover
		.container
			.row
				.infoCard
					.infoBody
						h1 Instructions for submitting
						p To submit data fill the next form:
						br
						form#evaluation_form
							div.form-group#emailDiv
								label(for='email') Mail:
								input.form-control(type='email' id='email' name='email' placeholder='example@example.com' required)
							div.form-group#modelNameDiv
								label(for='modelName') Model name:
								input.form-control(type='text' name='modelName' placeholder='Model Name' required)
							div.form-group.has-error#researchGroupDiv
								label(for='researchGroup') Submitted by:
								input.form-control(type='text' id='researchGroup' name='researchGroup' placeholder='e.g: BSC' required)
							div.form-group#paperLinkDiv
								label(for='paperLink') URL (Optional)
								input.form-control(type='url' id='url' name='url' placeholder='URL of the paper or model (if any)')
							hr
							div#sampleFiles
								p
									a(href='./sample_files.zip')
										| Download sample submission files
							div.form-group#conllNercDiv
								label Upload CoNLL-NERC
								input(type='file' name='CoNLL-NERC' id='CoNLL-NERC' required)
							div.form-group#udPosDiv
								label Upload UD-POS
								input(type='file' name='UD-POS' id='UD_POS' required)
							div.form-group#mldocDiv
								label Upload MLDoc
								input(type='file' name='MLDoc' id='MLDoc' required)
							div.form-group#pawsxDiv
								label Upload PAWS-X
								input(type='file' name='PAWS-X' id='PAWS-X' required)
							div.form-group#stsDiv
								label Upload STS
								input(type='file' name='STS' id='STS' required)
							div.form-group#sqacDiv
								label Upload SQAC
								input(type='file' name='SQAC' id='SQAC' required)
							div.form-group#xnliDiv
								label Upload XNLI
								input(type='file' name='XNLI' id='XNLI' required)
							hr
							div.checkbox#privacyPolicy
								label
									input(type='checkbox' name='dataPol' id='dataPol')
									| I accept the 
									a(href="https://www.bsc.es/legal-notice" target="_blank") data policy*
							div#submitResults
								p
									input.submitButton#submit_button(type='button' value='Submit')
